<div class="container">
  <mat-toolbar> Dashboard </mat-toolbar>
  <br>

  <h1> Welcome</h1>

  <button mat-flat-button >
    <mat-icon>mode_edit</mat-icon>
    Edit Profile
  </button>

  <button mat-flat-button >
    <mat-icon>work</mat-icon>
    Add Experience
  </button>

  <button mat-flat-button>
    <mat-icon>school</mat-icon>
    Add Education
  </button>

  <br><br>

  <h1>Experience Credentials</h1>
  <br>
  <div class="button">Company</div>
  <div class="button">Titles</div>
  <div class="button">Years</div>
  <br><br>
  <h1>Education Credentials</h1>
  <br>
  <div class="button">School</div>
  <div class="button">Degree</div>
  <div class="button">Years</div>
  <br><br>
  <button mat-raised-button color="accent">
    <mat-icon class="delete">person_remove</mat-icon>
    Delete my Account
  </button>
</div>
